.App {
  text-align: center;
}

.App-header {
  background: linear-gradient(110deg, #c4b484 60%, #d5ca5f 60%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-color: black;
  border-style: solid;
  border-width: 30px;
}


.weather{
  color: rgb(148, 36, 47);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contents{
  color: rgb(59, 59, 107);
  font-family: 'Times New Roman', Times, serif;
}

.search{
  border-radius: 20px;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.but{
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(225, 56, 56, 0.1);
}